/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Header styles */
.header {
  background-color: #8b0000; /* Thapar University red */
  color: #fff;
  padding: 1rem;
}

.header h1 {
  font-size: 2rem;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  cursor: pointer;
  padding: 10px;
}

.nav-toggle-label span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s, opacity 0.3s;
}

.nav-toggle:checked + .nav-toggle-label span {
  opacity: 0;
  transform: rotate(45deg);
}

.nav-toggle:checked + .nav-toggle-label span:nth-child(2) {
  transform: translateX(-50%);
}

.nav-toggle:checked + .nav-toggle-label span:nth-child(3) {
  transform: rotate(-45deg);
}

.header nav ul {
  list-style: none;
  display: flex;
}

.header nav ul li {
  margin-right: 1rem;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

/* Main sections */
.section {
  padding: 2rem;
}

.about-section,
.contact-section,
.login-section,
.signup-section {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.section h2 {
  color: #8b0000; /* Thapar University red */
}

.services-section {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.services-section ul {
  list-style: none;
}

.services-section ul li {
  margin-bottom: 0.5rem;
}

/* Buttons */
.get-started-button {
  background-color: #8b0000;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #670000;
}

/* Footer styles */
.footer {
  background-color: #8b0000; /* Thapar University red */
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
